@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2b64a1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-gradient-to-r {
  background: linear-gradient(to right, #ebf8ff, #ffffff, #ebf8ff);
}
